<html>
<head>
<title>Reading Buses</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<section id="navigation-bar">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-logo" href="index.html"><img src="images/logo.png" alt="Logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
   <i class="fa fa-bars" alt="Bars"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Bus Selection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="team.html">Plan Your Journey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="application.html">Service Updates</a>
      </li>	
    </ul>
  </div>
</nav>
</section>

<section id="mainbanner">
<div class="container">
<p class="maintitle">Reading Buses</p>
<p class="maintext">Select your bus below.</p>	
</div>
</div>
<img src="images/wave1.png" class="bottomimg" alt="Wave">
</section>

<section id="about1">
<p> </p>
</section>

<section id="buses">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">JetBlack</h5>
    <p class="card-text">Newbury to Reading</p>
	<p class="card-text">via Thatcham, Woolhampton, Theale</p>
    <a href="#" class="btn btn-primary">Routes</a>
  </div>
</div>
</section>

<section id="buses">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">JetBlack</h5>
    <p class="card-text">Newbury to Reading</p>
	<p class="card-text">via Thatcham, Woolhampton, Theale</p>
    <a href="#" class="btn btn-primary">Routes</a>
  </div>
</div>
</section>

<section id="mainfooter">
<div class="container">
<div class="row">
<div class="colmid5 footerbox">
<a href="index.html"><img src="/images/logo.png" alt="Logo"></a>
	<p>Reading Buses is a bus operator serving</p>
	<p>the towns of Reading, Bracknell,</p>
	<p>Newbury, Slough, Windsor, Wokingham</p>
	<p>and the surrounding area in the county</p>
	<p>of Berkshire, England, as well as </p>
	<p>parts of Greater London.</p>
</div>
<div class="colmid5 footerbox">
	<p><b></b></p>
</div>
<div class="colmid5 footerbox">
	<p><b></b></p>
</div>
<div class="colmid5 footerbox">
	<p><b></b></p>
</div>
<div class="colmid5 footerbox">
	<p><b></b></p>
</div>
<div class="colmid5 footerbox">
	<p><b></b></p>
</div>
<div class="colmid5 footerbox">
	<p><b>Contact Us</b></p>
	<i class="fa fa-globe fa-lg"></i><p>Reading Buses
Great Knollys Street
Reading
RG1 7HH</p>
	<i class="fa fa-phone fa-lg"></i><p>0118 959 4000</p>
	<i class="fa fa-envelope fa-lg"></i><p>customerservices@reading-buses.co.uk</p>
</div>


</div>

</section>

</body>

</html>